<h1>Payment</h1>

<%= form_for @payment do |f| %> 
  <div>
    <%= f.label :card_number %><br />
    <%= f.text_field :card_number, id:"card-details" %>
  </div>
  <div>
    <%= f.submit "Pay now", id: "pay-now" %>
  </div>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
<% end %>
